:root{
    --bg: #fff6fb;
    --card: #ffeef8;
    
}


body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    text-align: center;
    padding-top: 60px;
}

h1{
    color: lightpink;
}
