:root{
    --bg: #fff6fb;
    --card: #ffeef8;
    --accent: #ff5aa7;
    --text: #222;
    --muted: #565454;
}
*{box-sizing:border-box}
/* asterisk= universal selector ; applying this to every element on the entire page---- changes how width and height are calculated for all elements. Prevents from elements from accidentally growing bigger
*/

body{
    margin: 0;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    background: linear-gradient(180deg,var (--bg), #fff);
    color:var(--text)
    display: flex;
    
}